:root {
  --color-primary: #cb1582;
  --color-secondary: #a5ffef;
  --color-tertiary: #2d46b9;
  --color-quaternary: #1ed760;
  --color-extra: #919496;
  --color-icons: #222326;
  --gradient-primary: linear-gradient(
    359.37deg,
    #000 3.09%,
    #ff4632 22.4%,
    #fae62d 46.64%,
    #9bf0e1 62.15%,
    #a0c3d2 79.91%,
    #4100f5 99.49%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.container {
  padding: 0 1.5rem;
}

.section--container {
  padding: 4.5rem 1.5rem;
}

/* Header */
.header {
  background-color: #000;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__box {
  height: 3rem;
}

.header__logo {
  display: inline-block;
  height: 2.7rem;
  width: 8.9rem;
}

.header__icon {
  fill: #fff;
}

.header__burger {
  cursor: pointer;
  z-index: 10;
}

.header__burger div {
  background-color: #fff;
  height: 0.3rem;
  width: 2.3rem;
  margin: 0.4rem 0;
  transition: transform 0.2s ease;
}

.open .header__burger-1 {
  transform: rotate(-45deg) translate(0.4rem, 0.1rem);
}
.open .header__burger-2 {
  display: none;
}

.open .header__burger-3 {
  transform: rotate(45deg) translate(-0.4rem, -0.9rem);
}

/* Header mobile */
.mobile {
  position: absolute;
  right: 0;
  padding: 4rem;
  height: 100vh;
  width: 44.8rem;
  background-color: #000;
  color: #fff;
  z-index: 5;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile__links {
  list-style: none;
}

.mobile__item {
  margin-bottom: 2.3rem;
}

.mobile__item--separator {
  margin: 4rem 0 4rem;
  height: 0.2rem;
  width: 2rem;
  background-color: #fff;
}

.mobile__link {
  text-decoration: none;
  font-weight: 600;
  color: #fff;
}

.mobile__link:hover {
  color: var(--color-quaternary);
}

.mobile__font--l {
  font-size: 3.4rem;
}

.mobile__font--m {
  font-size: 2.6rem;
  font-weight: 100;
}

.backdrop {
  position: fixed;
  top: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
}

.hidden {
  display: none;
}

/* Section One */
.section--1 {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.box__left h2 {
  margin-bottom: 1.6rem;
  font-size: 1.3rem;
  letter-spacing: 0.15rem;
  font-weight: 300;
  text-transform: uppercase;
}

.wrapped-graphic {
  position: relative;
  margin: 0 auto;
  width: 18rem;
  height: 13.2rem;
  margin-bottom: 1.6rem;
}

.wrapped-graphic-gradient {
  background: var(--gradient-primary);
  background-repeat: no-repeat;
  background-size: 100% 10rem;
  background-position: 0px 1.6rem;
  padding: 0 2.4rem;
}

.wrapped-graphic-content {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 1.2rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.wrapped-graphic-content h4 {
  letter-spacing: -0.01rem;
  text-align: center;
  font-size: 1.5rem;
}

.box__right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box__right h4 {
  width: 25.8rem;
  margin-bottom: 1.5rem;
  font-size: 2.8rem;
  text-align: center;
  letter-spacing: -0.1rem;
}

.box__right h3 {
  width: 26.8rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  text-align: center;
  line-height: 2rem;
}

.box__right a {
  width: 100%;
  padding: 1.6rem 0;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.15rem;
  font-size: 1.4rem;
  font-weight: 600;
  background-color: var(--color-secondary);
  border-radius: 3rem;
  color: var(--color-primary);
  transition: background-color 0.3s ease;
}

.box__right a:hover {
  background-color: #fff;
  transform: scale(1.05);
}
/* Section Two */
