:root {
  --color-primary: #cb1582;
  --color-secondary: #a5ffef;
  --color-tertiary: #2d46b9;
  --color-quaternary: #1ed760;
  --color-extra: #919496;
  --color-icons: #222326;
  --gradient-primary: linear-gradient(
    359.37deg,
    #000 3.09%,
    #ff4632 22.4%,
    #fae62d 46.64%,
    #9bf0e1 62.15%,
    #a0c3d2 79.91%,
    #4100f5 99.49%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.container {
  padding: 0 1.5rem;
}

/* Header */
.header {
  background-color: #000;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__box {
  height: 3rem;
}

.header__logo {
  display: inline-block;
  height: 2.7rem;
  width: 8.9rem;
}

.header__icon {
  fill: #fff;
}

/* Header mobile */

.mobile {
  position: absolute;
  right: 0;
  padding: 4rem;
  height: 100vh;
  width: 44.8rem;
  background-color: #000;
  color: #fff;
  z-index: 5;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile__links {
  list-style: none;
}

.mobile__item {
  margin-bottom: 2.3rem;
}

.mobile__item--separator {
  margin: 4rem 0 4rem;
  height: 0.2rem;
  width: 2rem;
  background-color: #fff;
}

.mobile__link {
  text-decoration: none;
  font-weight: 600;
  color: #fff;
}

.mobile__link:hover {
  color: var(--color-quaternary);
}

.mobile__font--l {
  font-size: 3.4rem;
}

.mobile__font--m {
  font-size: 2.6rem;
  font-weight: 100;
}

.backdrop {
  position: fixed;
  top: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
}

.hidden {
  display: none;
}

.header__burger {
  cursor: pointer;
  z-index: 10;
}

.header__burger div {
  background-color: #fff;
  height: 0.3rem;
  width: 2.3rem;
  margin: 0.4rem 0;
  transition: transform 0.2s ease;
}

.open .header__burger-1 {
  transform: rotate(-45deg) translate(0.4rem, 0.1rem);
}
.open .header__burger-2 {
  display: none;
}

.open .header__burger-3 {
  transform: rotate(45deg) translate(-0.4rem, -0.9rem);
}
