/* Global */
:root {
  --color-primary: #cb1582;
  --color-secondary: #a5ffef;
  --color-tertiary: #2d46b9;
  --color-quaternary: #1ed760;
  --color-extra: #919496;
  --color-icons: #222326;
  --gradient-primary: linear-gradient(
    359.37deg,
    #000 3.09%,
    #ff4632 22.4%,
    #fae62d 46.64%,
    #9bf0e1 62.15%,
    #a0c3d2 79.91%,
    #4100f5 99.49%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: var(--color-quaternary);
}

/* Components */
.container {
  padding: 0 1.5rem;
}

.section--container {
  padding: 3.2rem 1.5rem;
  min-height: 46.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title__primary {
  margin-bottom: 1.6rem;
  font-size: 1.3rem;
  letter-spacing: 0.16em;
  font-weight: 300;
  text-transform: uppercase;
}

.title__secondary {
  width: 25.8rem;
  margin-bottom: 1.5rem;
  font-size: 2.8rem;
  text-align: center;
  letter-spacing: -0.018em;
}

.title__tertiary {
  width: 26.8rem;
  margin-bottom: 1.2rem;
  font-size: 1.3rem;
  text-align: center;
  line-height: 2rem;
}

.btn {
  display: inline-block;
  width: 90%;
  padding: 1.6rem 4.8rem 1.8rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 50rem;
  transition: background-color 0.3s ease;
}

.btn__highlight--1 {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.btn__highlight--1:hover {
  background-color: #fff;
  color: var(--color-primary);
  transform: scale(1.05);
}

.btn__highlight--2 {
  background-color: var(--color-quaternary);
  color: var(--color-tertiary);
}

.btn__highlight--2:hover {
  background-color: #fff;
  color: var(--color-tertiary);
  transform: scale(1.05);
}

/* Header */
.header {
  background-color: #000;
  height: 5.5rem;
}

.header--container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__box {
  height: 3rem;
}

.header__logo {
  display: inline-block;
  height: 2.7rem;
  width: 8.9rem;
}

.header__icon {
  fill: #fff;
}

.header__burger {
  cursor: pointer;
  z-index: 5;
}

.header__burger div {
  background-color: #fff;
  height: 0.3rem;
  width: 2.3rem;
  margin: 0.4rem 0;
  transition: transform 0.2s ease;
}

.header__nav {
  display: none;
}

.open .header__burger-1 {
  transform: rotate(-45deg) translate(0.4rem, 0.1rem);
}
.open .header__burger-2 {
  display: none;
}

.open .header__burger-3 {
  transform: rotate(45deg) translate(-0.4rem, -0.9rem);
}

/* Header mobile */
.mobile {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4rem;
  height: 100%;
  width: 44.8rem;
  background-color: #000;
  color: #fff;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile__links {
  list-style: none;
}

.mobile__item {
  margin-bottom: 2.3rem;
}

.mobile__item--separator {
  margin: 4rem 0 4rem;
  height: 0.2rem;
  width: 2rem;
  background-color: #fff;
}

.mobile__link {
  font-weight: 600;
}

.mobile__font--l {
  font-size: 3.4rem;
}

.mobile__font--m {
  font-size: 2.6rem;
  font-weight: 100;
}

.backdrop {
  position: fixed;
  top: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
}

.hidden {
  display: none;
}

/* Section One */
.section--1 {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.wrapped-graphic {
  position: relative;
  margin: 0 auto;
  width: 18rem;
  height: 13.2rem;
  margin-bottom: 1.6rem;
}

.wrapped-graphic-gradient {
  background: var(--gradient-primary);
  background-repeat: no-repeat;
  background-size: 100% 10rem;
  background-position: 0px 1.6rem;
  padding: 0 2.4rem;
}

.wrapped-graphic-content {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 1.2rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.wrapped-graphic-content h4 {
  letter-spacing: -0.01em;
  text-align: center;
  font-size: 1.5rem;
}

/* Section Two */
.section--2 {
  background-image: url('./img/circles-medium.svg');
  background-size: auto 170%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: var(--color-tertiary);
  color: var(--color-quaternary);
}

.section--2 .hero h2 {
  margin-bottom: 5rem;
}

/* Footer */
.footer {
  background-color: #000;
}

.footer--container {
  padding: 5rem 1.5rem 2rem;
}

.footer__links--top dt {
  color: var(--color-extra);
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.08em;
  line-height: 1.4;
  margin: 5rem 0 2.2rem;
}

.footer__links--top dl {
  margin: 0;
}

.footer__link--top {
  display: inline-block;
  padding: 0.3rem 0rem 1.5rem;
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}

.footer__social-links ul {
  display: flex;
}

.footer__social-item {
  margin: 13rem 1.5rem 0rem 0rem;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  background-color: var(--color-icons);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__social-link {
  font-size: 2.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media Queries */
@media (min-width: 768px) {
  /* Components */
  .container {
    padding: 0 1.5rem;
    max-width: 75rem;
    margin: 0 auto;
  }

  .section--container {
    padding: 4rem 1.5rem;
    min-height: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title__primary {
    margin-bottom: 8.6rem;
    font-size: 1.3rem;
    letter-spacing: 0.16em;
    font-weight: 300;
    text-transform: uppercase;
  }

  .title__secondary {
    width: 60rem;
    margin-bottom: 1.5rem;
    font-size: 6.4rem;
    text-align: center;
    letter-spacing: -0.01em;
  }

  .title__tertiary {
    width: 64rem;
    margin-bottom: 3.2rem;
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  .btn {
    width: auto;
  }

  /* Section 1 */
  .wrapped-graphic {
    width: 35.4rem;
    height: 26.6rem;
    margin-bottom: 3.2rem;
  }

  .wrapped-graphic-gradient {
    background-size: 100% 18.6rem;
    background-position: 0px 4rem;
    padding: 0 4.4rem;
  }

  .wrapped-graphic-content {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 1.2rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: var(--color-secondary);
    color: var(--color-primary);
  }

  .wrapped-graphic-content h4 {
    letter-spacing: -0.03em;
    font-size: 4rem;
  }

  /* Section 2 */
  .section--2 {
    background-size: auto 115%;
  }

  .section--2 .hero h2 {
    margin-bottom: 18rem;
  }

  /* Footer */
  .footer--container {
    padding: 5rem 2.5rem 2rem;
  }

  .footer__links--top {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 992px) {
  .mobile {
    display: none;
  }

  .backdrop {
    display: none;
  }

  .header__burger {
    display: none;
  }
  .header__nav {
    display: block;
  }

  .header {
    height: 8rem;
  }

  .header--container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__box {
    height: 4rem;
  }

  .header__logo {
    height: 4rem;
    width: 13.2rem;
  }

  .header__links {
    display: flex;
  }

  .header__item {
    list-style: none;
    margin-right: 3rem;
  }

  .header__item--separator {
    display: inline-block;
    margin-right: 3rem;
    height: 1.6rem;
    width: 0.1rem;
    background-color: #fff;
  }

  .header__link {
    font-size: 1.5rem;
    font-weight: 600;
  }

  /* Components */
  .container {
    padding: 0 1.5rem;
    max-width: 118rem;
    margin: 0 auto;
  }

  /* Section One */
  .section--1 {
    display: flex;
  }

  .footer-desktop {
    display: flex;
    justify-content: space-between;
  }

  .footer__links--top {
    width: 100%;
    padding: 0rem 4rem;
  }

  .footer__social-item {
    margin-top: 0rem;
  }
}
